body {
  background-color: #333333;
  font-family: "Balsamiq Sans";
}

#container1 {
  position: relative;
  /*background-color: aqua;*/
  width: 100%;
  height: 300px;
}

#container2 {
  position: relative;
  /*background-color: #46fd1e;*/
  width: 100%;
  height: 180px;
}

#container3 {
  position: relative;
  /*background-color: red;*/
  width: 100%;
  height: 20px;
}

header {
  position: absolute;
  color: #a00641;
  font-size: 200px;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#oldpassword {
  position: absolute;
  font-family: "Balsamiq Sans";
  font-size: 25px;
  left: 50%;
  top: 40%;
  transform: translate(-55%, -50%);
  width: 30%;
  height: 20%;
}

#newpassword {
  position: absolute;
  font-family: "Balsamiq Sans";
  font-size: 25px;
  left: 50%;
  top: 80%;
  transform: translate(-55%, -50%);
  width: 30%;
  height: 20%;
}

#newpasswordagain {
  position: absolute;
  font-family: "Balsamiq Sans";
  font-size: 25px;
  left: 50%;
  top: 120%;
  transform: translate(-55%, -50%);
  width: 30%;
  height: 20%;
}

button {
  position: absolute;
  background: none;
  border: none;
  text-decoration: none;
  color: #fff;
  font-family: "Balsamiq Sans";
  font-size: 20px;
  left: 50%;
  transform: translate(-80%, 400%);
  cursor: pointer;
}

#eye1 {
  position: absolute;
  width: 2%;
  right: 38%;
  bottom: 55%;
  cursor: pointer;
}

#eye2 {
  position: absolute;
  width: 2%;
  right: 38%;
  bottom: 15%;
  cursor: pointer;
}

#eye3 {
  position: absolute;
  width: 2%;
  right: 38%;
  bottom: -25%;
  cursor: pointer;
}
